[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "===21.4b1"

[packages]
mypy = "*"
click = "*"
python-dotenv = "*"
django = "*"
django-stubs = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
uritemplate = "*"
whitenoise = "*"
gunicorn = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
